@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
.btn{
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #232527;
    border: none;
    outline: none;
    padding: .3rem .8rem;
    transition: ease .3s;
}
.btn:hover{
    background-color: #1b1d1f;
}